:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    min-height: 100vh;
    width: 100%;
}
#root {
    width: 100%;
}
h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #7f5af0;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

/* Form input */
/* Style the container to create a floating label effect */
form {
    padding: 20px;
    margin-left: 40px;
    width: 60%;
    border: 3px solid #fffffe;
    border-radius: 10px;
}
.input-container {
    position: relative;
    margin-bottom: 20px;
}

/* Style the input field */
.material-input {
    font-size: 18px;
    padding: 10px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    transition: border-bottom-color 0.3s;
}

.material-input:focus {
    outline: none;
    border-bottom-color: #ccc; /* Highlight color when focused */
}

/* Style the label */
.material-label {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 16px;
    color: #888;
    pointer-events: none;
    transition: top 0.3s, font-size 0.3s;
}

/* Shrink the label when input is focused or has value */
.material-input:focus + .material-label,
.material-input:not(:placeholder-shown) + .material-label {
    top: -10px;
    font-size: 14px;
    color: #ccc; /* Highlight color when focused */
}
